<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Material Icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- CSS File -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Youtube</title>
  </head>
  <body class="upload">
   
    <div class="upload__container">
        <img src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c" alt="youtube"/>
        <div class="upload__links">
          <a href="/admin" class="upload__link">
            <i class="material-icons">arrow_back</i> 
            <p>Back</p>
          </a>
            <a href="/" class="upload__link">
                <i class="material-icons">home</i> 
                <p>Home Page</p>
            </a>
        </div>
    </div>
      <script src="/js/fetch.js"></script>
      <script src="/js/update.js"></script>
  </body>
</html>
